<header>
  <div class="inner">
    <a class="logo" href="/"><img src="{{asset "images/pretty-stuff-logo.svg"}}" alt="Pretty Stuff Logo"></a>
    <div class="desc">The best inspiration, curated.</div>
    <div class="nav-hamburger">
      <svg class="nav--hamburger-svg" width="24" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.5 18.14">
        <g>
          <g>
            <path class="nav-hamburger-svg-1" d="M25.5,2H1A1,1,0,0,1,1,0H25.5a1,1,0,0,1,0,2Z"></path>
            <path class="nav-hamburger-svg-2" d="M25.5,10.07H1a1,1,0,1,1,0-2H25.5a1,1,0,1,1,0,2Z"></path>
            <path class="nav-hamburger-svg-3" d="M25.5,18.14H1a1,1,0,0,1,0-2H25.5a1,1,0,0,1,0,2Z"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
</header>

<nav class="site-nav">
  <div class="content">
    <div class="inner">
      <div class="column">
        <h2>About</h2>
        <p>Pretty Stuff is an online magazine posting hand-selected work from the field of art, design, illustration and photography.</p>
        <h2>Authors</h2>
        <ul>
          {{#get "users"}}
          {{#foreach users}}
            <li><a href="/author/{{slug}}">{{name}}</a><span>→</span></li>
          {{/foreach}}
          {{/get}}
        </ul>
        {{#foreach authors}}
          {{author}}
          {{name}}
        {{/foreach}}
      </div>
      <div class="column">
        <h2>Categories</h2>
        <ul>
        {{#get "tags"}}
        {{#foreach tags}}
          <li><a href="/tag/{{slug}}">{{name}}</a><span>→</span></li>
        {{/foreach}}
        {{/get}}
        </ul>
      </div>
      <div class="column">
        <h2>Social</h2>
        <ul>
          <li><a href="https://twitter.com/prettystuffio">Twitter</a><span>→</span></li>
          <li><a href="https://www.facebook.com/prettystuffio/">Facebook</a><span>→</span></li>
          <li><a href="/feed">RSS</a><span>→</span></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
