{{! This is the post loop - each post will be output using this markup }}
<div class="grid">
  {{#foreach posts}}
  <article class="{{post_class}}">
    <div class="inner">
      <a href="{{url}}">
        <div class="thumbnail">
          <img src="{{image}}">
        </div>
      </a>
      <div class="description">
      <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
      <p class="excerpt">
        {{excerpt characters="74"}}...
      </p>
      </div>
    </div>
  </article>
  {{/foreach}}
</div>
{{! Previous/next page links - displayed on every page }}
{{pagination}}
