{{! This is the post loop - each post will be output using this markup }}
<div class="grid">
  {{#foreach posts}}
  <a href="{{url}}" class="article {{post_class}}">
    <div class="inner">
      <div class="thumbnail"><img src="{{image}}"></div>
      <div class="description">
        <h2 class="post-title">{{{title}}}</h2>
        <p class="excerpt">{{excerpt characters="60"}}...</p>
      </div>
    </div>
  </a>
  {{/foreach}}
</div>
{{! Previous/next page links - displayed on every page }}
{{pagination}}
